*.c text eol=crlf
*.h text eol=crlf
*.S text eol=crlf
*.pl text eol=crlf
*.log text eol=crlf
*.json text eol=crlf
*.list text eol=crlf
*.spec text eol=crlf
*README* text eol=crlf
runoff text eol=crlf
runoff1 text eol=crlf
show1 text eol=crlf

toc.hdr text eol=crlf
toc.ftr text eol=crlf
spinp text eol=crlf
sleep1.p text eol=crlf
printpcs text eol=crlf
kernel.ld text eol=crlf
gdbutil text eol=crlf
funcIdDescLs.txt.csv text eol=crlf
dot-bochsrc text eol=crlf
cuth text eol=crlf
TRICKS text eol=crlf
Notes text eol=crlf
Makefile text eol=crlf
LICENSE text eol=crlf
BUGS text eol=crlf
.gitignore text eol=crlf
.gitattributes text eol=crlf
.gdbinit.tmpl text eol=crlf
.dir-locals.el text eol=crlf
.cvsignore text eol=crlf